* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
}
 
:root {
    --primary-color: #f9f9f9;
    --secondary-color: #2D2E32;
    --tertiary-color: #cdcdcd
}

body {
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    border: 1px solid rgb(00, 00, 00, 0.1);
    padding: 20px;
}

header nav ul{
    display: flex;
    gap: 36px;
    list-style: none;
    cursor: pointer;
    font-weight: bold;   
}

header nav ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 8px;
    border-radius: 8px;
}

header nav ul li a{
    text-decoration: none;
}

.menu {
    display: none;
}
.menu ul{
    display: flex; 
    gap: 24px;
    align-items: center;
    list-style: none;
    cursor: pointer;
    text-align: center;
}

.menu .hireMe {
    width: 200px;
}

.hireMe {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: var(--secondary-color);
    padding: 4px 12px;
    cursor: pointer;
    border-radius: 8px;
}

.hireMe .mail {
    width: 36px;
}

.hireMe p {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 0.9rem;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    height: 60vh;
    background-color: var(--primary-color);
}

#home .principalPic {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#home h1 {
    max-width: 400px;
    font-size: 3rem;
    font-weight: bolder;
    text-wrap: wrap;
}

.section p {
    max-width: 400px;
    font-size: 1.1rem;
    text-align: justify;
}

#home div .icon {
    width: 44px;

}

#home #stack {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
}

#principalPic {
    width: 20rem;
    
    border: 3px solid black;
    animation: morph 8s ease-in-out infinite;
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    transition: all 1s ease-in-out;
}    
        

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  
    50% {
        border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }
  
    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}

#home .information {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#home .information .socialMedia {
    display: flex;
    gap: 15px;

}

#secondPic {
    width: 24rem;
}

#about, #projects {
    background-color: white;
}

#stack01, #stack02, #stack03, #stack04 {
    transition: transform 450ms;
}

#stack01:hover, #stack02:hover, #stack03:hover, #stack04:hover {
    transform: translateY(-20px);
    transition: transform 450ms;
}

#about p {
    max-width: 600px;
    text-wrap: wrap;   
}

#projects, #contact {
    flex-direction: column;
    text-align: center;
}